@model ResourceLandingPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var itemTitleLength = 75;
    var itemShortDescriptionLength = 130;
}

<div class="c-resources">
    <div class="c-listing c-resources-listing"
        data-type="resources"
        data-culture="@Html.Osler().GetCurrentCultureName()"
        data-orderby="@nameof(Resource.DatePublished)"
        data-orderbydirection="@OrderByDirection.Descending"
        data-ispreviewmode="@Html.Osler().IsPreviewMode()"
        data-pagenumber="1"
        data-mainlist="c-resources-listing-main"
        data-mainpagesize="@Model.MainListPageSize"
        data-includefilters="true"
        data-excludednodeguids="@(Model.FeaturedItem?.NodeGuid)"
        data-clearcultureparams="true">

        <div class="row">
            <div class="columns small-12 medium-12 large-8">
                <div class="o-cell-heading">
                    <h1>@Model.Title</h1>
                    @if (!string.IsNullOrWhiteSpace(Model.Description))
                    {
                        @Html.OslerForModel().RichTextFieldFor(Model.Description).ToHtmlString()
                    }
                </div>
            </div>
        </div>

        @if (Model.FeaturedItem != null)
        {
            @Html.Partial("_ResourceFeaturedItem", Model.FeaturedItem)
        }

        <div class="row">
            <div class="columns small-12 medium-8 large-4 push-right">

                <h2 class="cloak-h4">@ResHelper.GetString(Constants.ResourceStrings.Resource.SearchResourcesHeader)</h2>

                <div class="c-form-field c-form-field-combo">
                    <!-- <search-filter :results="results"></search-filter> -->
                    <div class="c-form-field-wrapper">
                        <div class="c-button-clear-wrapper">
                            <label for="searchResources" class="show-for-sr">@ResHelper.GetString(Constants.ResourceStrings.Resource.SearchResourcesHeader)</label>
                            <input v-model="keywords" @@keyup.enter="keywordSearch" class="text-box single-line" value="keywords" id="searchResources" name="searchResources" type="text" placeholder="@ResHelper.GetString(Constants.ResourceStrings.Resource.SearchBoxPlaceholder)" aria-describedby="searchDirections">
                            <button  v-on:click.stop.prevent="clearKeywords" type="submit" class="c-button-clear"><span class="show-for-sr">@ResHelper.GetString(Constants.ResourceStrings.SearchResults.ClearKeywords)</span></button>
                        </div>
                        <button v-on:click.stop.prevent="keywordSearch" type="submit" class="c-button-primary c-button-search">@ResHelper.GetString(Constants.ResourceStrings.Resource.SearchButtonText)</button>
                    </div>
                </div>

                <span class="is-small" id="searchDirections">@ResHelper.GetString(Constants.ResourceStrings.Resource.SearchDirectionsText)</span>

                <filters :filters="filters" :selectedfilters="selectedFilters" v-on:filter-data="filterPage" v-on:clear-filter-data="filterPage" v-if="hasFilters"></filters>

            </div>

            <div class="columns small-12 medium-12 large-8 transition-wrap c-listings-top" tabindex="0">
                <h2>@ResHelper.GetString(Constants.ResourceStrings.Resource.ResourceListHeader)</h2>
                <div class="c-resources-listing-main" v-cloak >
                    <div aria-live="polite" aria-atomic="true">
                        <div class="c-list-results" v-if="totalItemCount > 0">
                            <p class="is-small is-bold">{{totalResultsCountDisplay}}</p>
                        </div>

                        <!-- show no listings message -->
                        <div v-if="!hasResults && !IsKeywordOrFilteredSearch && !hasError && loading == false" v-cloak aria-live="polite" aria-atomic="true">
                            <div class="c-list-error-server" tabindex="0">
                                <p class="c-list-error-server-title">
                                    @ResHelper.GetString(Constants.ResourceStrings.Resource.NoListingsMessage)</p>
                            </div>
                        </div>

                        <!-- show no results found message -->
                        <div v-if="IsKeywordOrFilteredSearch && !hasResults && !hasError" v-cloak>
                            @Html.Partial("_ListNoResults")
                        </div>

                        <!-- show server error -->
                        <div v-if="hasError" v-cloak>
                            @Html.Partial("_ListServerError")
                        </div>
                    </div>
                    <transition appear name="fade">
                        <!-- loader -->
                        @Html.Partial("_Loader")
                        <main-list :results="results" v-if="totalItemCount && loading == false"></main-list>
                    </transition>
                </div>

            </div>
        </div>

        <!-- pagination -->
        <div class="row" v-if="totalItemCount > @Model.MainListPageSize && !loading">
            <div class="columns small-12 medium-12 large-8 large-offset-4">
                <nav class="c-pagination" aria-label="pagination">
                    <uib-pagination class="c-pagination-list"
                                    v-model="pagination"
                                    @@change="onPageChange"
                                    :total-items="totalItemCount"
                                    :items-per-page="@Model.MainListPageSize"
                                    :boundary-link-numbers="true"
                                    :force-ellipses="true"
                                    :max-size="paginationSize"
                                    :rotate="true">
                    </uib-pagination>
                </nav>
            </div>
        </div>

    </div>

    <!-- listing template -->
    <template id="list-template" v-cloak>
        <div class="c-list c-resources-list">
            <div class="c-list-item c-resources-item" v-for="(result, index) in results" :data-item="index">
                <h3 class="cloak-cta-small">
                    <a v-if="result.externalUrl" :href="result.externalUrl" class="is-external" v-bind:class="{ 'is-file': result.isFile }" target="_blank">{{result.title | trimSpace | truncate(@itemTitleLength) }}</a>
                    <a v-else :href="result.pageUrl" class="is-internal" v-bind:class="{ 'is-file': result.isFile }">{{ result.title | trimSpace | truncate(@itemTitleLength) }}</a>
                </h3>
                <p v-if="result.authors" class="is-description">{{result.authors}}</p>
                <p v-if="result.shortDescription" class="is-large-body">{{ result.shortDescription | truncate(@itemShortDescriptionLength) }}</p>
                <p class="is-small">
                    <span>{{result.datePublished}}</span>
                    <span class="is-bold">{{result.resourceTypes}}</span>
                </p>
            </div>
        </div>
    </template>

    <!-- filter group template -->
    <template id="filters" v-cloak>
        <div class="c-accordion-wrap">
            <div class="c-accordion-heading">
                <h2 class="cloak-h4">@ResHelper.GetString(Constants.ResourceStrings.Resource.FiltersHeader)</h2>
                <a href="#" class="is-small" v-on:click.stop.prevent="handleClearAllFilters">@ResHelper.GetString(Constants.ResourceStrings.Resource.ClearFiltersText)</a>
            </div>
            <div class="c-accordion-groups">
                <div class="c-accordion" v-for="(filter, index) in filters">
                    <button type="button" class="c-accordion-head" data-toggle :aria-expanded="true" v-bind:aria-controls="[filter.fieldName + '-panel']" v-bind:id="[filter.fieldName + '-trigger']" @@click="toggle($event.target)">{{filter.title}}</button>
                    <div class="c-accordion-panel" v-bind:id="[filter.fieldName + '-panel']" v-bind:aria-labelledby="[filter.fieldName + '-trigger']">
                        <div class="c-accordion-body">
                            <a href="#" class="c-accordion-clear" v-on:click.stop.prevent="handleClearFilterGroup(filter.fieldName)">@ResHelper.GetString(Constants.ResourceStrings.Resource.ClearAllFiltersText)</a>
                            <fieldset tabindex="-1" role="checkbox" aria-required="false">
                                <legend><span class="show-for-sr">{{filter.title}}</span></legend>
                                <div class="c-form-field c-form-field-checkbox" v-for="(filteroption, index) in filter.options">
                                    <div class="c-form-field-wrapper">
                                        <input v-model="selectedfilters[filter.fieldName]" :value="filteroption.codeName" :id="filteroption.codeName" type="checkbox" :name="filter.fieldName">
                                        <label :for="filteroption.codeName" class="is-light is-large">{{filteroption.displayName}}</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <button class="c-button c-button-primary" v-on:click="handleFilters">@ResHelper.GetString(Constants.ResourceStrings.Resource.ApplyFiltersText)</button>
        </div>
    </template>

</div>
