@using CMS.Helpers
@using ECA.PageURL.Definitions
@using OslerAlumni.Mvc.Core.Definitions
@using OslerAlumni.Mvc.Extensions
@using OslerAlumni.Mvc.Models
@model HeaderViewModel

@if (!Model.IsAuthenticatedUser)
{
    <div class="c-header-login"><a href="@Html.Osler().GetPageUrl(StandalonePageType.Login)" class="c-button c-button-login">@ResHelper.GetString(Constants.ResourceStrings.Navigation.Login)</a></div>
}
else
{
    <div class="c-header-login">
        @if (!Model.IsLoggedInViaOslerNetwork)
        {
            <p>@ResHelper.GetStringFormat(Constants.ResourceStrings.Navigation.Greeting, Model.UserFirstName)</p>
            <p>@ResHelper.GetStringFormat(Constants.ResourceStrings.Navigation.IdentityConfirmation, Model.UserFirstName) <a href="@Url.Action("Logout", "Account")">@ResHelper.GetString(Constants.ResourceStrings.Navigation.Logout)</a></p>
        }
        else
        {
            <p>@ResHelper.GetString(Constants.ResourceStrings.Navigation.NetworkGreeting)</p>
            <a href="@Url.Action("Logout", "Account")">@ResHelper.GetString(Constants.ResourceStrings.Navigation.Logout)</a>
        }
    </div>
}
