@using CMS.DocumentEngine
@using Kentico.Content.Web.Mvc
@using Kentico.OnlineMarketing.Web.Mvc
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@using OslerAlumni.Mvc.Extensions
@using OslerAlumni.Mvc.Models
@using OslerAlumniWebsite.ViewComponents.Global
@using CMS.DataEngine
@using CMS.Helpers
@using CMS.MacroEngine
@using CMS.Localization

@inject IPageDataContextRetriever dataRetriever


@{
    Layout = null;
    var page = dataRetriever.Retrieve<TreeNode>().Page;

}

<!DOCTYPE html>
<html lang="@Html.Osler().GetCurrentLanguage()">
<head>
    @if (!string.IsNullOrEmpty(MacroResolver.Resolve(SettingsKeyInfoProvider.GetValue("OslerAlumni.Content.OneTrustCode"), new MacroSettings { Culture = LocalizationContext.PreferredCultureCode })))
    {
        <!-- OneTrust Cookies Consent Notice start -->

        <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="@MacroResolver.Resolve(SettingsKeyInfoProvider.GetValue("OslerAlumni.Content.OneTrustCode"), new MacroSettings { Culture=LocalizationContext.PreferredCultureCode })"></script>
        <script type="text/javascript">
            function OptanonWrapper() { }
        </script>
        <!-- OneTrust Cookies Consent Notice end -->
    }

    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="@Html.Osler().AppendReleaseNumber("~/build/style.css")">
    <link rel="icon" href="~/build/images/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/build/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/build/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/build/images/icons/favicon-16x16.png">

    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window, document, 'script', 'dataLayer', '@ViewBag.GTMCode');</script>
    <!-- End Google Tag Manager -->

    @RenderSection("Head", required: false)

    @* check if the current page is null to avoid errors for Kentico page like form builder *@
    @await Component.InvokeAsync(typeof(MetaDataViewComponent),
    new
    {
    overriddenMetaData = new MetadataViewModel()
    {
    Title = ViewBag.Title,
    PageDescription = ViewBag.PageDescription
    }
    })
    @Html.Kentico().WebAnalyticsLoggingScript()
</head>

@* TODO: [MS/SE] Controller and action values should be added to ViewBag (in BaseController?), instead of view querying route values directly *@
<body data-controller="@ViewContext.RouteData.Values["Controller"]" data-action="@ViewContext.RouteData.Values["Action"]">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=@ViewBag.GTMCode" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    @await Component.InvokeAsync(typeof(HeaderViewComponent))

    <main id="content">

        @await Component.InvokeAsync(typeof(BreadCrumbsViewComponent),
        new
        {
        page = page,
        //To disable breadcrumbs on a page set ViewBag.ShowBreadCrumbs to false
        showBreadCrumbs = ViewBag.ShowBreadCrumbs
        })


        @RenderBody()


        @await Component.InvokeAsync(typeof(RelatedCtasViewComponent),
        new
        {
        page = page,
        })

    </main>


    @await Component.InvokeAsync(typeof(FooterViewComponent))


    <script src="@Html.Osler().AppendReleaseNumber("~/build/app.js")"></script>
    <script src="~/build/picturefill.js" async></script>
    @RenderSection("Scripts", required: false)
    <script src="@Url.RouteUrl("KenticoLogActivityScript")"></script>
</body>
</html>
