@model RequestPasswordResetPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="c-account">
    <div class="row align-center">
        <div class="columns medium-6 small-12">
            <div class="o-container o-container-centered">
                <h1 class="cloak-h3">@Model.Title</h1>
                @if (!string.IsNullOrWhiteSpace(Model.Description))
                {
                    @Html.OslerForModel().RichTextFieldFor(Model.Description).AddClass("no-padding-top").ToHtmlString()
                }
            </div>
        </div>
    </div>
    <div class="row align-center">
        <div class="columns medium-4 small-12">
            <div class="c-form-wrapper is-full" data-form="passwordResetRequest">
                @Html.Partial("_RequestPasswordResetForm", Model.FormPostModel)
                @Html.Partial("_OverlayLoader")
            </div>
        </div>
    </div>
</div>
@Html.Partial("_RequestPasswordResetSuccess", Model)



