@model HomeBannerLoggedInViewModel

<div class="c-banner ">
    <div class="release-banner">
        <picture>
            <source srcset="@Html.Osler().ResolveUrl(Model.BannerImage3)" media="(max-width: 480px)">
            <source srcset="@Html.Osler().ResolveUrl(Model.BannerImage2)" media="(max-width: 1024px)">
            <source srcset="@Html.Osler().ResolveUrl(Model.BannerImage1)" media="(min-width: 1025px)">
            <img src="@Html.Osler().ResolveUrl(Model.BannerImage1)" srcset="@Html.Osler().ResolveUrl(Model.BannerImage1)" alt="@Model.BannerImageAltText">
        </picture>
    </div>
    <div class="c-banner-content-wrapper">
        <div class="c-banner-content">
            <div class="row column">
                <p class="is-title is-caps no-margin">@Model.BannerHeader</p>
                <h1 class="is-red">@Model.BannerTitle</h1>

                @(Html.OslerForModel()
                    .RichTextFieldFor(Model.BannerDescription)
                    .ToHtmlString())

                @if (!string.IsNullOrWhiteSpace(Model.BannerLink) && !string.IsNullOrWhiteSpace(Model.BannerLinkText))
                {
                    <a href="@Model.BannerLink" class="c-link c-link-secondary">@Model.BannerLinkText</a>
                }
            </div>
        </div>
    </div>
</div>


