@model FeaturedJobOpportunitiesViewModel
<div class="c-tile has-xs-padding-right">
    <h2 class="is-red">@Model.JobsHeader</h2>



    @if (Model.JobOpportunityItems?.Any()??false)
    {
        <ul class="unstyled">
        @Html.DisplayFor(vm => Model.JobOpportunityItems)
        </ul>
        <div class="has-s-margin-top">
            <a href="@Model.JobsLink" class="c-link c-link-primary">@Model.JobsLinkText</a>
        </div>
    }
    else
    {
        @(Html
            .OslerForModel()
            .RichTextFieldFor(Model.JobsNoRecordsDisplay)
            .ToHtmlString())
    }

</div>