@model FeaturedResourcesViewModel

<div class="c-tile c-tile-resources">
    <h2 class="is-red">@Model.ResourcesHeader</h2>

    @if (Model.ResourceItems?.Any()??false)
    {
        <ul class="unstyled c-tile-grid">
            @Html.DisplayFor(vm => Model.ResourceItems)
        </ul>
        <div class="has-s-margin-top">
            <a href="@Model.ResourcesLink" class="c-link c-link-primary">@Model.ResourcesLinkText</a>
        </div>
    }
    else
    {
        @(Html
                    .OslerForModel()
                    .RichTextFieldFor(Model.ResourcesNoRecordsDisplay)
                    .ToHtmlString())
    }
    
</div>