@model MembershipOslerInfoFormModel

<div class="c-form-field-wrapper">
    <p class="is-label">@Html.DisplayNameFor(model => model.YearsAtOsler)</p>
    <p>@(!string.IsNullOrWhiteSpace(Model.YearsAtOsler)? Model.YearsAtOsler : ResHelper.GetString(Constants.ResourceStrings.Form.OslerInformation.YearsAtOslerEmpty) )</p>
</div>

<div class="c-form-field-wrapper">
<p class="is-label">@Html.DisplayNameFor(model => model.OslerLocations)</p>

@if (Model.OslerLocations.Any())
{
    @Html.DisplayFor(model => model.OslerLocations, "UnorderedList")
}
else
{
    <p>
        @ResHelper.GetString(Constants.ResourceStrings.Form.OslerInformation.OslerLocationsEmpty)
    </p>
}
</div>

<div class="c-form-field-wrapper">
<p class="is-label">@Html.DisplayNameFor(model => model.OslerPracticeAreas)</p>

@if (Model.OslerPracticeAreas.Any())
{
    @Html.DisplayFor(model => model.OslerPracticeAreas, "UnorderedList")
}
else
{
    <p>
        @ResHelper.GetString(Constants.ResourceStrings.Form.OslerInformation.OslerPracticeAreasEmpty)
    </p>
}
</div>