@using CMS.Helpers
@using OslerAlumni.Mvc.Core.Definitions
@using OslerAlumni.Mvc.Core.Helpers
@using OslerAlumni.Mvc.Extensions
@using OslerAlumni.Mvc.Extensions.OslerControls.RichTextField
@using OslerAlumni.Mvc.Models
@model JobsDetailsPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="c-jobs">
    <div class="row">
        <div class="columns small-12 medium-8">
            <div class="o-cell-heading has-border-bottom">
                <h1>@Model.Title</h1>
                <p class="is-large no-margin-bottom"> @Html.Raw(ResHelper.GetStringFormat(Constants.ResourceStrings.Jobs.Company, Model.Company))</p>
                <p class="is-large"> @Html.Raw(ResHelper.GetStringFormat(Constants.ResourceStrings.Jobs.Location, Model.JobLocation))</p>
                <p> @Html.Raw(ResHelper.GetStringFormat(Constants.ResourceStrings.Jobs.DatePostedAndCategory, HtmlContentHelper.GetString(Html.DisplayFor(model => model.PostedDate)), Model.JobCategoryDisplayName))</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columns medium-8 small-12">
            @Html.OslerForModel().RichTextFieldFor(Model.Description).ToHtmlString()
        </div>
    </div>
</div>
