@using CMS.Helpers
@using OslerAlumni.Mvc.Core.Definitions
@using OslerAlumni.Mvc.Extensions
@using OslerAlumni.Mvc.Extensions.OslerControls.Button
@using OslerAlumni.Mvc.Extensions.OslerControls.Image
@using OslerAlumni.Mvc.Models
@model MembershipProfileImageFormModel

@{
    /*Note: this is needed so that html fields aren't
     prefixed if we have nested view models. However,
     it also means that this form may appear only once on the page.*/
    ViewData.TemplateInfo.HtmlFieldPrefix = string.Empty;
}


@if (Model.DisplayMode == Mode.View)
{
    if (!string.IsNullOrWhiteSpace(Model.ProfileImageUrl))
    {
        @(Html.Osler()
                      .Image(Model.ProfileImageUrl)
                      .WithAltText("")
                      .ToHtmlString())
    }

    <div class="c-profile-image-controls">
        <a href="" class="e-image-crop-link c-link c-link-secondary hide-for-small-only">@ResHelper.GetString(Constants.ResourceStrings.Form.MembershipProfileImage.EditImageText)</a>
        @if (!string.IsNullOrWhiteSpace(Model.ProfileImageUrl))
        {
            <div class="c-form-wrapper" data-form="membership-basic-info">
                @using (Html.BeginForm(
                    "DeleteProfileImage",
                    "Membership",
                    FormMethod.Post,
                    new
                    {
                        @class = "c-form",
                        id = "image-delete"
                    }))
                {
                    @Html.AntiForgeryToken()

                    @Html.FormErrorSummary()

                    @Html.HiddenFor(model => model.UserGuid)

                    @(Html.Osler()
                                  .FormSubmitButton()
                                  .WithText(Constants.ResourceStrings.Form.MembershipProfileImage.DeleteImageText)
                                  .AddClass("c-button-delete")
                                  .ToHtmlString())

                    @Html.Partial("_FormServerError")
                }
            </div>
        }
    </div>
}
else
{
    <div class="show-for-small-only"> 
        <p class="is-medium">@ResHelper.GetString(Constants.ResourceStrings.Form.MembershipProfileImage.MobileText)</p>
    </div>
    <div class="c-form-wrapper" data-form="membership-basic-info">

        @using (Html.BeginForm(
            "MembershipUploadProfileImage",
            "Membership",
            FormMethod.Post,
            new
            {
                enctype = "multipart/form-data",
                @class = "c-form",
                id = "image-upload"
            }))
        {
            @Html.AntiForgeryToken()

            @Html.FormErrorSummary()


            @Html.HiddenFor(model => model.UserGuid)
            @Html.HiddenFor(model => model.ImageWidth)
            @Html.HiddenFor(model => model.ImageHeight)
            @Html.HiddenFor(model => model.ImageX)
            @Html.HiddenFor(model => model.ImageY)


            <p class="is-medium">@ResHelper.GetString(Constants.ResourceStrings.Form.MembershipProfileImage.FileUploadTitle)</p>
            <div id="image-preview" class="c-profile-image-preview">
            </div>
            @(Html.StyledFileUploaderFor(
                          model => model.FileUpload,
                          Html.LabelFor(
                              m => m.FileUpload,
                              new
                              {
                                  data_text = ResHelper.GetString(Constants.ResourceStrings.Form.GlobalFileUploadButtonText),
                                  name = ResHelper.GetString(Constants.ResourceStrings.Form.GlobalFileUploadButtonText)
                              }),
                          jsValidationError: ResHelper.GetString(Constants.ResourceStrings.Form.MembershipProfileImage.FileUploadError),
                          htmlAttributes:
                              new
                              {
                                  @class = "is-medium image"
                              }))

            @(Html.Osler()
                          .FormSubmitButton()
                          .WithText(Constants.ResourceStrings.SaveEdits)
                          .ToHtmlString())



            @Html.Partial("_FormServerError")
        }

        @Html.Partial("_OverlayLoader")
    </div>
}
