@using CMS.Helpers
@using OslerAlumni.Mvc.Core.Definitions
@using OslerAlumni.Mvc.Core.Helpers
@using OslerAlumni.Mvc.Extensions
@using OslerAlumni.Mvc.Extensions.OslerControls.Button
@using OslerAlumni.Mvc.Models
@model MembershipBasicInfoFormModel

@{
    /*Note: this is needed so that html fields aren't
     prefixed if we have nested view models. However,
     it also means that this form may appear only once on the page.*/
    ViewData.TemplateInfo.HtmlFieldPrefix = string.Empty;
}

<div class="c-form-wrapper" data-form="membership-basic-info">

    @using (Html.BeginForm(
        "MembershipUpdateBasicInfo",
        "Membership",
        FormMethod.Post,
        new { @class = "c-form", id = "membership-basic-info" }))
    {
        @Html.FormErrorSummary()

        @Html.HiddenFor(model => model.UserGuid)

        @Html.StyledEditorFor(
                      model => model.UserName,
                      nameof(MembershipBasicInfoFormModel.UserName),
                      null,
                      Html.DisplayFor(model => model.UserName, "ReadOnlyString"),
                      new { @class = "word-wrap" })

        @Html.StyledEditorFor(model => model.FirstName, nameof(MembershipBasicInfoFormModel.FirstName))

        @Html.StyledEditorFor(model => model.LastName, nameof(MembershipBasicInfoFormModel.LastName))

        @Html.StyledEditorFor(model => model.Email, nameof(MembershipBasicInfoFormModel.Email))

        @Html.StyledEditorFor(model => model.CompanyName, nameof(MembershipBasicInfoFormModel.CompanyName))

        @Html.StyledEditorFor(model => model.JobTitle, nameof(MembershipBasicInfoFormModel.JobTitle))

        @Html.StyledEditorFor(model => model.City, nameof(MembershipBasicInfoFormModel.City))

        @Html.StyledEditorFor(model => model.Province, nameof(MembershipBasicInfoFormModel.Province))

        @Html.StyledEditorFor(model => model.Country, nameof(MembershipBasicInfoFormModel.Country))

        @Html.StyledEditorFor(
                      model => model.LinkedInUrl,
                      nameof(MembershipBasicInfoFormModel.LinkedInUrl),
                      null,
                      null,
                      new { @class = "c-form-field-social" })

        @Html.StyledEditorFor(
                      model => model.TwitterUrl,
                      nameof(MembershipBasicInfoFormModel.TwitterUrl),
                      null,
                      null,
                      new { @class = "c-form-field-social" })

        @Html.StyledEditorFor(
                      model => model.InstagramUrl,
                      nameof(MembershipBasicInfoFormModel.InstagramUrl),
                      null,
                      null,
                      new { @class = "c-form-field-social" })

        if (Model.YearOfCallAndJurisdictions?.Any() ?? false)
        {
            @Html.StyledEditorFor(
                          model => model.YearOfCallAndJurisdictions,
                          nameof(MembershipBasicInfoFormModel.YearOfCallAndJurisdictions),
                          null,
                          Html.DisplayFor(model => model.YearOfCallAndJurisdictions))
        }
        else
        {
            
            <div class="c-form-field">
                <div class="c-form-field-wrapper">
                    @Html.LabelFor(model => Model.YearOfCallAndJurisdictions, ModelMetaDataHelper.GetModelLocalizedDisplayName(Html, typeof(MembershipBasicInfoFormModel), nameof(MembershipBasicInfoFormModel.YearOfCallAndJurisdictions)))
                    <p>@(ResHelper.GetString(Constants.ResourceStrings.Form.MembershipBasicInfo.BarAdmissionAndJurisdictionEmpty))</p>
                </div>
            </div>
        }

        <div class="c-form-field">
            <div class="c-form-field-wrapper">
                @Html.LabelFor(model => Model.CurrentIndustry, ModelMetaDataHelper.GetModelLocalizedDisplayName(Html, typeof(MembershipBasicInfoFormModel), nameof(MembershipBasicInfoFormModel.CurrentIndustry)))
                <p>@(!string.IsNullOrWhiteSpace(Model.CurrentIndustry) ? Model.CurrentIndustry : ResHelper.GetString(Constants.ResourceStrings.Form.MembershipBasicInfo.CurrentIndustryEmpty) )</p>
            </div>
        </div>


        if (Model.EducationHistory?.Any() ?? false)
        {
            @Html.StyledEditorFor(
                          model => model.EducationHistory,
                          nameof(MembershipBasicInfoFormModel.EducationHistory),
                          null,
                          Html.DisplayFor(model => model.EducationHistory, "EducationRecordList"))
        }
        else
        {
            <div class="c-form-field">
                <div class="c-form-field-wrapper">
                    @Html.LabelFor(model => Model.EducationHistory, ModelMetaDataHelper.GetModelLocalizedDisplayName(Html, typeof(MembershipBasicInfoFormModel), nameof(MembershipBasicInfoFormModel.EducationHistory)))
                    <p>@(ResHelper.GetString(Constants.ResourceStrings.Form.MembershipBasicInfo.EducationHistoryEmpty))</p>
                </div>
            </div>
        }

        @(Html.Osler()
                              .FormSubmitButton()
                              .WithText(Constants.ResourceStrings.SaveEdits)
                              .ToHtmlString())

        @Html.Partial("_FormServerError")
    }

    @Html.Partial("_OverlayLoader")
</div>
