@using OslerAlumni.Mvc.Core.Definitions
@using OslerAlumni.Mvc.Extensions
@using OslerAlumni.Mvc.Extensions.OslerControls.Button
@using OslerAlumni.Mvc.Models
@model ResetPasswordFormModel

@{
    /*Note: this is needed so that html fields aren't
     prefixed if we have nested view models. However,
     it also means that this form may appear only once on the page.*/
    ViewData.TemplateInfo.HtmlFieldPrefix = string.Empty;
}

<div class="c-form-wrapper is-full" data-form="passwordReset">

    @using (Html.BeginForm(
                "ResetPassword",
                "Account",
                FormMethod.Post,
                new { @class = "c-form", id = "passwordReset" }))
    {
        @Html.AntiForgeryToken()

        @Html.FormErrorSummary()

        @Html.HiddenFor(model => model.UserGuid)
        @Html.HiddenFor(model => model.Token)
        @Html.HiddenFor(model=>model.SetPasswordMode)

        @Html.StyledEditorFor(model => model.Password)

        @Html.StyledEditorFor(model => model.PasswordConfirmation)

        @(Html.Osler()
              .FormSubmitButton()
              .WithText(Constants.ResourceStrings.SaveEdits)
              .ToHtmlString())

        @Html.Partial("_FormServerError")
    }
    @Html.Partial("_OverlayLoader")
</div>
