@using CMS.Helpers
@using OslerAlumni.Mvc.Core.Definitions
@using OslerAlumni.Mvc.Extensions
@using OslerAlumni.Mvc.Extensions.OslerControls.RichTextField
@using OslerAlumni.Mvc.Models
@model ResourceDetailsPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="c-resources">
    <div class="row">
        <div class="columns small-12 medium-12 large-8">
            <div class="o-cell-heading has-border-bottom has-padding-bottom">
                <h1>@Model.Title</h1>
                <p class="no-margin-bottom"><span class="is-bold">@ResHelper.GetString(Constants.ResourceStrings.Resource.ResourceDate)</span> @Html.DisplayFor(model => model.DatePublished)</p>
                @if (!string.IsNullOrWhiteSpace(Model.Authors))
                {
                    <p class="no-margin-bottom"><span class="is-bold">@ResHelper.GetString(Constants.ResourceStrings.Resource.ResourceAuthor)</span> @Model.Authors</p>
                }
                @if (!string.IsNullOrWhiteSpace(Model.ResourceTypeDisplayName))
                {
                    <p class="no-margin-bottom">
                        <span class="is-bold">@ResHelper.GetString(Constants.ResourceStrings.Resource.ResourceCategory)</span>
                        @Model.ResourceTypeDisplayName
                    </p>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-12 large-8">
            @(Html.OslerForModel().RichTextFieldFor(Model.Description).ToHtmlString())
        </div>
    </div>
</div>
