@model OslerAlumni.Mvc.Extensions.OslerControls.RichTextField.Models.InlineWidgetModels.YouTubeInlineWidget
@{
    var Id = $"{Html.IdFor(vm=> Model.Transcript)}_{Guid.NewGuid()}";

}
<div class="c-video">
    <div class="c-video-wrapper">
        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true" frameborder="0" src="@Model.YouTubeEmbedUrl"></iframe>
    </div>

    @if (!string.IsNullOrWhiteSpace(Model.Transcript))
    {   
        <div class="c-video-transcript-wrapper">
        <div class="clearfix">
            <button class="c-video-toggle right" type="button" aria-expanded="false" data-id="transcript_@Id">
                <span class="show-text">@ResHelper.GetString(Constants.ResourceStrings.Video.TranscriptOpen)</span>
                <span class="hide-text">@ResHelper.GetString(Constants.ResourceStrings.Video.TranscriptClose)</span>
            </button>
        </div>
            <div class="c-video-transcript" aria-hidden="true" data-transcript-id="transcript_@Id" tabindex="-1" aria-label="@ResHelper.GetString(Constants.ResourceStrings.Video.TranscriptLabel)">
                @(Html.OslerForModel().RichTextFieldFor(Model.Transcript).ToHtmlString())
            </div>
        </div>
    }


</div>
