@using OslerAlumni.Mvc.Extensions
@using OslerAlumni.Mvc.Extensions.OslerControls.RichTextField
@model OslerAlumni.Mvc.Core.Models.CtaViewModel

<div class="c-cta has-bg-grey has-no-border has-image">
    @if (!string.IsNullOrWhiteSpace(Model.Image))
    {
        <div class="c-cta-image">
            <img src="@Model.Image" alt="@Model.ImageAltText">
        </div>
    }
    <div class="c-cta-content">
        <h2 class="c-cta-title cloak-h4">@Model.Title</h2>
        @Html.OslerForModel().RichTextFieldFor(Model.Content).ToHtmlString()
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Url) && !string.IsNullOrWhiteSpace(Model.LinkText))
    {
        <div class="c-cta-footer">
            <a href="@Model.Url" class="c-link c-link-primary">@Model.LinkText</a>
        </div>
    }
</div>
