@using System.Web.Optimization
@using Kentico.PageBuilder.Web.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="@Html.Osler().GetCurrentLanguage()">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="@Html.Osler().AppendReleaseNumber("~/build/style.css")">
    <link rel="icon" href="~/build/images/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/build/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/build/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/build/images/icons/favicon-16x16.png">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window, document, 'script', 'dataLayer', '@ViewBag.GTMCode');</script>
    <!-- End Google Tag Manager -->

    @RenderSection("Head", required: false)

    @* check if the current page is null to avoid errors for Kentico page like form builder *@
    @if(ViewBag.Page != null){
        Html.RenderAction("RenderMetadata", "Metadata",
            new
            {
                page = ViewBag.Page,
                overriddenMetaData = new MetadataViewModel()
                {
                    Title = ViewBag.Title,
                    PageDescription = ViewBag.PageDescription
                }
            });
    }
</head>

@* TODO: [MS/SE] Controller and action values should be added to ViewBag (in BaseController?), instead of view querying route values directly *@
<body data-controller="@ViewContext.RouteData.Values["Controller"]" data-action="@ViewContext.RouteData.Values["Action"]">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=@ViewBag.GTMCode" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    @{
        Html.RenderAction("Header", "Home",
            new
            {
                page = ViewBag.Page,
            });
    }

    <main id="content">
        @{
            Html.RenderAction("BreadCrumbs", "Home",

                new
                {
                    page = ViewBag.Page,
                    //To disable breadcrumbs on a page set ViewBag.ShowBreadCrumbs to false
                    showBreadCrumbs = ViewBag.ShowBreadCrumbs
                });
        }

        @RenderBody()

        @{ Html.RenderAction("RelatedContentCtas", "Cta",
               new
               {
                   page = ViewBag.Page,
               });
        }
    </main>

    @{
        Html.RenderAction("Footer", "Home");
    }

    <script src="@Html.Osler().AppendReleaseNumber("~/build/app.js")"></script>
    <script src="~/build/picturefill.js" async></script>
    @RenderSection("Scripts", required: false)
    @Scripts.Render(Url.RouteUrl("KenticoLogActivityScript"))

</body>
</html>
