<!-- Event Attendees Modal component -->
<template id="EventAttendeesModal" v-cloak>
    <div class="c-modal" data-modal="eventAttendees-modal" role="dialog" id="eventAttendees-modal" aria-labelledby="c-modal-title">
        <div class="c-modal-window has-border-bottom" ref="modalWindow" :class="[ filteredList.length ? '' : 'c-form-error' ]" role="document">
            <button type="button" class="c-modal-close c-button-clear" v-on:click="handleCloseModal">
                <span class="show-for-sr">@ResHelper.GetString(Constants.ResourceStrings.Events.Attendees.CloseEventAttendeesList)</span>
            </button>
            <p id="c-modal-title" class="c-modal-title is-small is-bold">@ResHelper.GetString(Constants.ResourceStrings.Events.Attendees.SeeWhosComing)</p>
            <div class="c-form-field c-form-field-search has-icon">
                <div class="c-form-field-wrapper">
                    <input name="searchAttendees" @@keyup.enter="filterList" v-model="input" type="text" id="searchAttendees" placeholder="@ResHelper.GetString(Constants.ResourceStrings.Events.Attendees.SearchPlaceholderText)" aria-required="false">
                    <label for="searchAttendees">
                        <button type="submit" name="" @@click="filterList">
                        @Html.Partial("_SearchIcon")
                        <span class="show-for-sr">@ResHelper.GetString(Constants.ResourceStrings.Form.GlobalSearchButtonText)</span></button>
                    </label>
                </div>
            </div>
            <div class="c-attendees-meta">
                <p class="is-small c-divider-inline-right has-xxxs-margin-bottom" >{{attendees.length}}&nbsp;<span class="is-bold">@ResHelper.GetString(Constants.ResourceStrings.Events.Attendees.PeopleComing)</span></p>
                <p class="is-small" aria-live="polite" aria-atomic="true"><span v-if="showResults" class="c-attendees-results">{{filteredList.length}} <span class="is-bold">@ResHelper.GetString(Constants.ResourceStrings.Results)</span></p>
            </div>
            <div class="c-attendees-wrap" aria-live="polite" aria-atomic="true">
                <!-- loader -->
                @Html.Partial("_Loader")
                <ul v-if="filteredList.length" class="c-attendees-list">
                    <li v-for="attendee in filteredList" class="c-attendees-item">
                        <p class="cloak-h6 no-margin-bottom">
                            <a v-if="attendee.profileUrl" :href="attendee.profileUrl" target="_blank">{{attendee.firstName}} {{attendee.lastName}}</a>
                            <span v-else class="no-margin-bottom">{{attendee.firstName}} {{attendee.lastName}}</span>
                        </p>
                        <p>{{attendee.companyName}}</p>
                    </li>
                </ul>
                <!-- show no results found message -->
                <div class="" v-else-if="!loading && !filteredList.length" v-cloak>
                    @Html.Partial("_ListNoResults")
                </div>
            </div>
        </div>
        <div v-if="showModal" class="o-overlay show-overlay" v-on:click="handleCloseModal"></div>
    </div>
</template>
